.main {
    margin-top: 20px;
    display: flex;
    align-items: center;
    color: #C1C2C5;
    justify-content: flex-start;
}
.icon-container {
    font-size: 15px;
    margin-right: 15px;
    border-radius: 50%;
    transition: transform 0.5s;
    background: transparent;
    color: #C1C2C5;
}
.icon-container:hover {
    border-radius: 0;
    background: rgba(52, 58, 64, 0.2);
}
.rotate-up {
    transform: rotate(180deg);
}
.rotate-down {
    transform: rotate(0deg);
}
.img-renderer {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.timeOfDay {
    font-size: 25px;
    color: #C1C2C5;
}
.add-icon {
    color: #C1C2C5!important;
}
.content {
    background: #C1C2C5!important;
    height: 40vh!important;
    overflow-y: auto!important;
}
.main-content {
    display: flex;
    margin-top: 15px;
    height: 40vh;
}
.habit-wrapper {
    display: flex;
    height: 40vh;
    flex-wrap: wrap;
}
.dialog-title {
    background: #c1c2c5;
    text-align: center;
}
.popup-habits {
    background: #212529;
    color: white;
    width: 8vw;
    /*width: 100%;*/
    padding: 15px;
    border-radius: 5px;
    position: relative;
    margin: 5px;
}
.popup-habitsResponsive {
    background: #212529;
    color: white;
    width: 100%;
    /*width: 8vw;*/
    padding: 15px;
    border-radius: 5px;
    position: relative;
    margin: 5px;
}
.checked-box {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #C1C2C5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.image-container {
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    text-align: center;
}
.habit-title {
    display: flex;
    padding-top: 10px;
    justify-content: center;
}
::-webkit-scrollbar {
    width: 8px;
    background: #c1c2c5;
}
::-webkit-scrollbar-thumb {
    background: #6c757d;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #495057;
}