.table-container {
  border-collapse: collapse;
  width: 99%;
}
.table-row {
  width: 100%;
  border-bottom: 0.0625rem solid #c1c2c5;
}
.table-header {
  width: 40%;
  padding: 7px 0;
}
.table-headerDays {
  padding: 5px 0 !important;
  border-bottom: 0.0625rem solid #c1c2c5;
  text-align: left;
  font-size: 12px !important;
}
